#board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-grow: 1; */
	flex-direction: column;
	height: 90%;
}

#board {
	display: grid;
	grid-gap: 12px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 2%;
}

@media only screen and (max-width: 600px) {
	#board-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}