#game-container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
}

#game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
}
