#board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	height: 100%;
	flex-direction: column;
}

#board {
	display: grid;
	grid-gap: 12px;
	padding: 10px;
	box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
	#board {
		display: grid;
		grid-gap: 20px;
		padding: 10px;
		box-sizing: border-box;
	}
}