#board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* flex-grow: 1; */
	height: 80%;
	flex-direction: column;
}

#board {
	display: grid;
	grid-gap: 12px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 1%;
	margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
	#board {
		display: grid;
		grid-gap: 20px;
		padding: 10px;
		box-sizing: border-box;
		margin-top: 5%;
		margin-bottom: 10%;
	}
}