#keyboard-container {
	height: 200px;
	/* max-width: 500px; */
	width: 100%;
	/* margin-top: 25px; */
}



#keyboard-container:focus {
	outline: none;
}

.keyboard-row {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto 8px;
	touch-action: manipulation;
}

.keyboard-row button {
	font-family: inherit;
	font-weight: bold;
	border: 0;
	padding: 0;
	height: 58px;
	cursor: pointer;
	background-color: rgb(129, 131, 132);
	color: rgb(215, 218, 220);
	flex: 1 1 0px;
	text-transform: uppercase;
	margin-right: 6px;
	border-radius: 4px;
	user-select: none;
}

.keyboard-row button:focus {
	font-family: inherit;
	font-weight: bold;
	border: 0;
	padding: 0;
	height: 58px;
	cursor: pointer;
	background-color: rgb(129, 131, 132);
	color: rgb(215, 218, 220);
	flex-grow: 1;
	text-transform: uppercase;
	margin-right: 6px;
	border-radius: 4px;
	user-select: none;
	outline: none;
}

.keyboard-row button.wide-button {
	flex-grow: 1.5;
}

.spacer-half {
	flex-grow: 0.5;
}
