.letter-box {
	border: 2px solid white;
	border-radius: 3px;
	margin: 2px;
	font-size: 3rem;
	font-weight: 700;
	height: 3rem;
	width: 3rem;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.correct {
	background-color: #538d4e;
	color: white;
	border-color: #538d4e;
}

.present {
	background-color: #c9b458;
	color: white;
	border-color: #c9b458;
}

.absent {
	background-color: #3a3a3c;
	color: white;
	border-color: #3a3a3c;
}

/* ===== Small Devices ====== */
@media only screen and (max-width: 599px) {
		.letter-box {
			font-size: 2rem;
			font-weight: 700;
			height: 2.3rem;
			width: 2.3rem;
			margin-left: 0;
		}
}
/* ==== Medium and Larger Device ==== */
@media only screen and (min-width: 600px) {
	.letter-box {
		border: 1px solid white;
		border-radius: 3px;
		margin: 2px;
		font-size: 2rem;
		font-weight: 700;
		height: 3rem;
		width: 3rem;
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
	}
}