.game-navbar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #3a3a3c;
	align-items: flex-end;
	padding: 1rem 0 .5rem;
	height: 3rem;
	margin-top: 3px;
}

.game-navbar span {
	cursor: pointer;
	padding: 12px;
}

.word {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0 0;
	margin: 0 0;
}



.ios-btn {
	display: flex;
	align-self: flex-end;
	padding: 0 1.6em;
	margin: 0 0;
	border-radius: 1em;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	transition: all 0.2s;
	border: none;
	cursor: pointer;
}
