.game-navbar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 1px solid #3a3a3c;
	align-items: center;
	padding: 2 10px;
	margin-top: 10px;
}

.game-navbar span {
	cursor: pointer;
	padding: 15px;
}

.word {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}