#next-btn {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 30px;
    cursor: pointer;
    background-color: #0d6efd;
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

#record-btn {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 30px;
    cursor: pointer;
    background-color: #198754;
    color: rgb(215, 218, 220);
    flex-grow: 1;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}