.btn-container {
    height: 20%;
    margin-top: 2%;
}



#next-btn {
    display: inline-block;
    padding: 0.8em 1.8em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}

#record-btn {
    display: inline-block;
    padding: 0.8em 1.8em;
    margin: 0 1.2em 1em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #3a3a3c;;
    text-align: center;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    #record-btn {
        display: inline-block;
        padding: 0.6em 1.5em;
    }
    #next-btn {
        display: inline-block;
        padding: 0.6em 1.5em;
    }

}

@media only screen and (max-width: 400px) {
    #record-btn {
        display: inline-block;
        padding: 0.6em 1.5em;
    }

    #next-btn {
        display: inline-block;
        padding: 0.6em 1.5em;
    }

}


