.instruction-page {
    width: 100%;
    height: 100%;
    padding: 12px;
    /* border: 1px solid #f9f9f9; */
}

.instruction-page hr {
    color: #f9f9f9;
}

.instruction-page div {
    text-align: left;
    padding: 15px;
}

.instruction-page p {
    margin-top: 15px;
    letter-spacing: 3px;
    color: #fafafa;
    font-size: large;
    line-height: 1.8rem;
}

.tile-row {
    display: flex;
}