body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #121213;
	overflow: hidden;
}

#container {
	background-color: #121213;
	height: 100vh;
	width: 100%;
	align-items: center;
	overflow: hidden;
}
