@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .rotate-y {
    transform: rotateY(360deg);
  }
}

@layer base {
  input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }
}
